<div class="col-md-12">
    <h2>Perform Addition</h2>
</div>
<div class="col-md-6">
    <form [formGroup]="callAdditionForm" (ngSubmit)="performAddition()" autocomplete="off">
        <div class="form-group">
            <label for="numberOne">Number One: </label>
            <input formControlName="numberOne" id="numberOne" type="number" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="numberTwo">Number Two: </label>
            <input formControlName="numberTwo" id="numberTwoo" type="number" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Perform Addition</button>
    </form>
</div>
