<div class="col-md-12">
    <h2>Perform Addition</h2>
</div>
<div class="col-md-6">
    <form [formGroup]="callAdditionForm" (ngSubmit)="performAddition(callAdditionForm.value)" autocomplete="off">
        <mat-form-field class="example-full-width">
            <label for="numberOne">Number One: </label>
            <input matInput formControlName="numberOne" id="numberOne" type="number">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <label for="numberTwo">Number Two: </label>
            <input matInput formControlName="numberTwo" id="numberTwo" type="number" class="form-control">
        </mat-form-field>
        <br>
        <div>
            <button type="submit" mat-stroked-button color="primary">Perform Addition</button>
        </div>
        <br>
        <mat-form-field class="example-full-width">
            <label for="numberResult">Result: </label>
            <input matInput formControlName="numberResult" id="numberResult" type="number" class="form-control" [readonly]="true">
        </mat-form-field>
    </form>
</div>
